.page-messenger
    .item
        border 3px solid #ADD8E6
        border-radius 10px
        margin-bottom 10px

        .metadata
            border-bottom 3px solid lightblue
            padding 5px 10px
            background-color lightblue

            .time
                float right

        .message
            padding 10px
    
    form
        bottom 2px
        left 15px
        right 0px
        position fixed
        
        .input-wrapper
            float left
            position absolute
            left 0px
            right 80px
        
        input.btn
            float right
            width 80px